@model WebSales.Models.FilterModels
@{
    ViewBag.Title = "Pie";
}

<h2>Graphic</h2>
<ul class="nav nav-tabs">
    <li >@Html.ActionLink("Golumn graphics", "Index", "Graphics")</li>
    <li class="active">@Html.ActionLink("Golumn pie", "Pie", "Graphics")</li>
</ul>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
</script>

<div id="chart_div" style="width: 450px; height: 350px;"></div>


<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '@Url.Action("JsonPie")',
            data: '{}',
            success: function (chartsdata) {
                alert("dataaa");
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Manager');
            data.addColumn('number', 'Total Sum');

            for (var i = 0; i < chartsdata.length; i++) {
                data.addRow([chartsdata[i].LastNameManager, chartsdata[i].TotalCost]);
        }
        // Instantiate and draw our chart, passing in some options
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

        chart.draw(data,
          {
              title: "Statistics sectional managers",
              position: "top",
              fontsize: "14px",
              chartArea: { width: '50%' },
          });
    }
</script>


