@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">The display system sales statistics. Web application based on ASP.NET MVC,
     as database application can be used from the previous task</p>
 </div>

<div class="row">
    <div class="col-md-4">
        <h2>Task 1</h2>
        <p>
             The application reads the sales data from the database and displays them in a form suitable for analysis.
             It should be implemented at least the ability to filter by manager, date, product.
             Welcome charting (based on available data, the axis - arbitrary).
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Task 2</h2>
        <p>The system should be a user authentication. There should be two roles - a simple user and administrator.
         The user can only view the data has no right to edit anything. 
         The administrator can add new users and modify records in the database.</p>
    </div>
    <div class="col-md-4">
        <h2>Task 3</h2>
        <p>The interface to display information to consider and implement their own 
        (who want to get a warm welcome for JavaScript - jQuery and the like</p>        
    </div>
</div>